body{
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to top, rgba(30, 35, 38, 0.344), rgba(30,35,38,1)),
    url(../IMG/Logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container-header header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #780101;
    width: 100%;
    height: 70px;

}
.container-header .logo img{
    margin-top: 3px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.container-header .nav ul li{
    
    list-style: none;
    color: aliceblue;
}
.container-header .nav ul{
    display: flex;
    gap: 50px;
    padding: 15px;
   
    
}
.container-header .nav ul li a{
    font-family: sans-serif;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    transition: 0.3s;
}
.container-header .nav ul li a:hover{
    color: black;
}

/*====Section===*/
.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.producto1{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
    
}

.producto h1{
    color: #780101;
    font-size: 50px;
}

.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.552);
    width: 300px;
    height: 300px;
    gap: 20px;
    border-radius: 20px;
}

.product-item:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.product-item img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.product-item .button{
    display: flex;
    background: #780101;
<<<<<<< HEAD
}

=======
    width: 150px;
    height: 30px;
    border-radius: 20px;
   justify-content: center;
    align-items: center;
    transition: .3s;

}
.product-item .button a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;

}
.product-item .button:hover{
    transform: scale(1.2);
}
<<<<<<< HEAD
>>>>>>> dafea5be9e70d8242722d18003297728d5d04517
=======

/*===footer===*/
.redes{
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #780101;
    align-items: center;
    height: 60px;
    margin-top: 430px;
}
.redes a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    transition: 0.3s;
}
.redes a:hover{
    color: black;
}

@media (max-width: 768px){
    .producto1 {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px;
        justify-items: center;
    }
    .product-item {
        width: 90vw;
        max-width: 350px;
        height: auto;
    }
>>>>>>> 7c2cf071225f7f69a2074fbbc63b8851b0f4593c
